<html>
    <head>
        <title>Cookie Factory</title>
    </head>

    <style>
    .content {
        margin: auto;
        width: 50%;
        border: 3px solid green;
        padding: 10px;
    }
    </style>

    <body>
        <div class="content">

        <form action="/upload_save_file" method="POST" enctype=multipart/form-data>
			The time for which you give us your cookies:
            <input type="text" name="time"><br>
            <label for="file">Choose file with saves:</label>
            <input id="file" type="file" name="userSave"><br>
            <label for="browser">Choose browser that we should use
                (Headless Chrome is the fastest one):</label>
            <select id="browser" name="browser">
                <option value="Chrome">Chrome</option>
                <option value="Headless Chrome">Headless Chrome</option>
                <option value="Firefox">Firefox</option>
            </select><br>
            <input type="submit" value="Increase number of my cookies!"><br>
        </form>

        </div>
    </body>
</html>
